
@font-face {
    font-family: 'ArchitectsDaughterRegular';
    src: url('../fonts/ArchitectsDaughter/ArchitectsDaughter-webfont.eot');
    src: url('../fonts/ArchitectsDaughter/ArchitectsDaughter-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/ArchitectsDaughter/ArchitectsDaughter-webfont.woff') format('woff'),
         url('../fonts/ArchitectsDaughter/ArchitectsDaughter-webfont.ttf') format('truetype'),
         url('../fonts/ArchitectsDaughter/ArchitectsDaughter-webfont.svg#ArchitectsDaughterRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ArvoRegular';
    src: url('../fonts/Arvo/Arvo-Regular-webfont.eot');
    src: url('../fonts/Arvo/Arvo-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Arvo/Arvo-Regular-webfont.woff') format('woff'),
         url('../fonts/Arvo/Arvo-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Arvo/Arvo-Regular-webfont.svg#ArvoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CabinSketchBold';
    src: url('../fonts/CabinSketch/CabinSketch-Bold-webfont.eot');
    src: url('../fonts/CabinSketch/CabinSketch-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/CabinSketch/CabinSketch-Bold-webfont.woff') format('woff'),
         url('../fonts/CabinSketch/CabinSketch-Bold-webfont.ttf') format('truetype'),
         url('../fonts/CabinSketch/CabinSketch-Bold-webfont.svg#CabinSketchBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/FontAwesome/fontawesome-webfont.eot');
    src: url('../fonts/FontAwesome/fontawesome-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
         url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'),
         url('../fonts/FontAwesome/fontawesome-webfont.svg#FontAwesomeBold') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceCodeProRegular';
    src: url('../fonts/SourceCodePro/SourceCodePro-Regular-webfont.eot');
    src: url('../fonts/SourceCodePro/SourceCodePro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceCodePro/SourceCodePro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceCodePro/SourceCodePro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceCodePro/SourceCodePro-Regular-webfont.svg#SourceCodeProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'SourceSansProRegular';
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot');
    src: url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.woff') format('woff'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.ttf') format('truetype'),
         url('../fonts/SourceSansPro/SourceSansPro-Regular-webfont.svg#SourceSansProRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'VollkornRegular';
    src: url('../fonts/Vollkorn/Vollkorn-Regular-webfont.eot');
    src: url('../fonts/Vollkorn/Vollkorn-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Vollkorn/Vollkorn-Regular-webfont.woff') format('woff'),
         url('../fonts/Vollkorn/Vollkorn-Regular-webfont.ttf') format('truetype'),
         url('../fonts/Vollkorn/Vollkorn-Regular-webfont.svg#VollkornRegular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  color: #444;
}
h1,h2 {
  margin: 70px 0.5em 40px;
  text-align: center;
  font: normal 50px/58px 'ArvoRegular', Arial, sans-serif;
  letter-spacing: 0;
}

h1 > strong, h2 > strong {
  font: normal 70px/78px 'CabinSketchBold', Arial, sans-serif;
}

.block {
  display: block;
}

section > h1 ~ hr {
  width: 100px;
  margin: 3em auto;
}
section > h1 ~ p {
  font: normal 24px/28px 'SourceSansProRegular', Arial, sans-serif;
  text-align: center;
  margin: 20px;
  font-size: 24px;
}

h2 {
  margin-top: 300px;
  text-align: right;
}

section {
  background: url(../images/fabric_of_squares_gray.png) repeat;
}
.bg-dark {
/*  background-color: rgb(64,64,64);*/
/*background: url(../images/linen-dark.jpg) repeat;*/
}

.bg-light {
/*  background-color: #ccc;*/
background: url(../images/wavegrid.png) repeat;
}

/*Giant Coldfish*/
.colorwhite {
  color: white;
}
.color1 {
/*  color: rgb_(85,201,227);*/
  color: rgb(11, 144, 210);
}
.color2 {
/*  color: rgb_(150,212,207);*/
  color: rgb(128, 87, 165);
}
.color3 {
/*  color: rgb_(216,223,192);*/
  color: rgb(94, 185, 94);
}
.color4 {
/*  color: rgb_(240,114,24);*/
  color: rgb(221, 81, 76);
}
.color5 {
/*  color: rgb_(242,82,0);*/
  color: rgb(243, 123, 42);
}
.bgwhite {
  background-color: white;
}
.bg1 {
  background-color: rgb(11, 144, 210);
}
.bg2 {
  background-color: rgb(128, 87, 165);
}
.bg3 {
  background-color: rgb(94, 185, 94);
}
.bg4 {
  background-color: rgb(221, 81, 76);
}
.bg5 {
  background-color: rgb(243, 123, 42);
}

.bc1 {
  border-color: rgb(11, 144, 210);
}
.bc2 {
  border-color: rgb(128, 87, 165);
}
.bc3 {
  border-color: rgb(94, 185, 94);
}
.bc4 {
  border-color: rgb(221, 81, 76);
}
.bc5 {
  border-color: rgb(243, 123, 42);
}

.code .highlighted {
  background-color: rgba(242,82,0, 0.3);
}

html, .view body { background-color: black; counter-reset: slideidx; }
.view body {
  background-color: #ccc;
}
body {
  background-color: black;
  /*border-radius: 12px*/
}

/* A section is a slide. It's size is 800x600, and this will never change */
section, .view head > title {
    /* The font from Google */
    font-family: 'SourceSansProRegular', arial, sans-serif;
    font-size: 30px;
    background-color:white;
/*	-webkit-font-smoothing: subpixel-antialiased;*/
}

.view section:after {
  counter-increment: slideidx;
  content: counter(slideidx, decimal-leading-zero);
  position: absolute; bottom: -80px; right: 100px;
  color: white;
}

.view head > title {
  color: white;
  text-align: center;
  margin: 1em 0 1em 0;
}


h3 {
  font: normal 50px/58px 'ArvoRegular', Arial, sans-serif;
  letter-spacing: 0;
}

h3 {
  margin: 100px 0 50px 100px;
}
.dense h3 {
  margin-top: 20px;
}

ul {
    margin: 50px 200px;
}

p {
  margin: 75px;
  font-size: 50px;
}

section.gallery {
  
}

.gallery ul {
  list-style-type:none
}

.gallery img {
  border-style: solid;
  border-width:  10px;
  position: absolute;
}

figure.quote {
/*  background-color: #444;*/
/*  color: rgb(94, 185, 94);*/
}

blockquote {
  font: normal 50px/58px 'VollkornRegular', Times, serif;
  padding: 50px;
}
blockquote > em {
  font-style: normal;
}

blockquote:before {
  content: open-quote;
}
blockquote:after {
  content: close-quote;
}

figure.quote > figcaption {
/*  color: rgb(221, 81, 76);*/
  padding-left: 70px;
}

figure.quote > figcaption img {
  position:absolute;
  bottom:0;right:0;
}

a {
  text-decoration:none;
}
a:active {
 color:inherit; 
}
a:visited {
 color:inherit;   
}
a:link {
  color:inherit;     
}
a:hover {
  text-decoration:underline;
  color:inherit;
}

figure.quote > figcaption:before {
  content: "– ";
}

/* Figures are displayed full-page, with the caption
   on top of the image/video */
figure {
  width: 100%;
  height: 100%;
}

figure > img, figure > video {
  position: absolute;
  width: 100%; height: 100%;
}

.image figcaption  {
  font: normal 1em 'ArchitectsDaughterRegular', Arial, sans-serif;
  color: #ffffff;
  position: absolute;
  left:-20px;
  right: -20px;
  padding:0.8em 50px 0.8em;
  margin:0;
  bottom: 100px;
  -webkit-transform: rotate(-10deg);
  -moz-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
  background-color: rgba(20, 20, 20, 0.8);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 40px;
/*  text-align: right;*/
/*  background-color: #F3F4F8;*/
/*  border-top: 1px solid #CCC;*/
}

footer p {
  margin: 10px;
  font-size: 50px;
}

.final h1 {
  margin-top: 150px;
}
.final footer p {
  margin-left: 100px;
  font-size: 30px;
}

figure.code {
  background-color: #eee;
  width: 90%;
  height: auto;
  margin:3em 0 2em;
  position: relative;
}
figure.code > figcaption {
  font: normal 15px "SourceCodeProRegular", "Courier New", monospace;
  text-transform: uppercase;
  background-color: #555;
  color: rgb(94, 185, 94);
  max-width: 80%;
  padding: 5px 1em 5px;
  font-size: 15px;
  margin:0;
  position: absolute;
  top:0;
  right: 0;
}

figure.code  pre {
  padding: 15px 30px 15px;
  overflow: hidden;  
/*  background-color: #eee;*/
}

code {
    font: normal 20px "SourceCodeProRegular", "Courier New", monospace;
}


section.list ul {
  list-style-type: none;
  margin:2em 1em 0 0;
}
section.list ul li  {
  float: right;
  clear: both;
  font: normal 1em 'ArvoRegular', Arial, sans-serif;
  margin: 0.5em 0;
  padding: 5px 20px;
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);  
}

.rotated {
  -webkit-transform: rotate(-1.5deg);
  -moz-transform: rotate(-1.5deg);
  -ms-transform: rotate(-1.5deg);
  -o-transform: rotate(-1.5deg);
  transform: rotate(-1.5deg);
}

.icon {
  margin-right: 0.5em;
}

/* Transition effect */
/* Feel free to change the transition effect for original
   animations. See here:
   https://developer.mozilla.org/en/CSS/CSS_transitions
   How to use CSS3 Transitions: */
section {
  -moz-transition: left 400ms linear 0s;
  -webkit-transition: left 400ms linear 0s;
  -ms-transition: left 400ms linear 0s;
  transition: left 400ms linear 0s;
}
.view section {
  -moz-transition: none;
  -webkit-transition: none;
  -ms-transition: none;
  transition: none;
}

.incremental > *:first-child {
  -moz-transition: opacity 600ms linear 0s;
  -webkit-transition: opacity 600ms linear 0s;
  -ms-transition: opacity 600ms linear 0s;
  transition: opacity 600ms linear 0s;
}
.incremental > *[aria-selected] {
  -moz-transition: opacity 600ms linear 0s;
  -webkit-transition: opacity 600ms linear 0s;
  -ms-transition: opacity 600ms linear 0s;
  transition: opacity 600ms linear 0s;
}

.view section[aria-selected] {
  border: 5px red solid;
}

/* Before */
section { left: -150%; }
/* Now */
section[aria-selected] { left: 0; }
/* After */
section[aria-selected] ~ section { left: +150%; }

/* Incremental elements */

/* By default, visible */
/*.incremental > *:first-child { opacity: 0; }*/

.incremental.fading > * { opacity: 0.3; }

/* The current item */
/*.incremental[active] > * { opacity: 0; }*/
.incremental > *[aria-selected] { opacity: 1; }

/* The items to-be-selected */
.incremental > *[aria-selected] ~ * { opacity: 0; }


/* The progressbar, at the bottom of the slides, show the global
   progress of the presentation. */
#progress-bar {
  height: 2px;
  background: #AAA;
}

.taglist > *{
  position:absolute;
  padding:0.3em 0.8em 0.3em;
  display: block;
  list-style-type: none;
/*  background-color: white; */
  border-width: 6px;
  border-style: solid; 
  font: normal 1em 'ArvoRegular', Arial, sans-serif;
}
.taglist img {
  vertical-align:middle;
  margin-left:0.5em;
}

.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-iteration-count: 1;

  -o-animation-duration: 1s;
  -o-animation-iteration-count: 1;

  -ms-animation-duration: 1s;
  -ms-animation-iteration-count: 1;

  -moz-animation-duration: 1s;
  -moz-animation-iteration-count: 1;

  animation-duration: 1s;
  animation-iteration-count: 1;  
}

.animated.p0 {
  -webkit-animation-delay: 2s;
  -o-animation-delay: 2s;
  -ms-animation-delay: 2s;
  -moz-animation-delay: 2s;
  animation-delay: 2s;
}

.animated.p1 {
  -webkit-animation-delay: 2.5s;
  -o-animation-delay: 2.5s;
  -ms-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.animated.p2 {
  -webkit-animation-delay: 3s;
  -o-animation-delay: 3s;
  -ms-animation-delay: 3s;
  -moz-animation-delay: 3s;
  animation-delay: 3s;
}

.animated.p3 {
  -webkit-animation-delay: 3.5s;
  -o-animation-delay: 3.5s;
  -ms-animation-delay: 3.5s;
  -moz-animation-delay: 3.5s;
  animation-delay: 3.5s;  
}

.animated.p4 {
  -webkit-animation-delay: 4s;
  -o-animation-delay: 4s;
  -ms-animation-delay: 4s;
  -moz-animation-delay: 4s;
  animation-delay: 4s;
}

.animated.p5 {
  -webkit-animation-delay: 4.5s;
  -o-animation-delay: 4.5s;
  -ms-animation-delay: 4.5s;
  -moz-animation-delay: 4.5s;
  animation-delay: 4.5s;
}

.animated.p6 {
  -webkit-animation-delay: 5s;
  -o-animation-delay: 5s;
  -ms-animation-delay: 5s;
  -moz-animation-delay: 5s;
  animation-delay: 5s;
}
.animated.p7 {
  -webkit-animation-delay: 5.5s;
  -o-animation-delay: 5.5s;
  -ms-animation-delay: 5.5s;
  -moz-animation-delay: 5.5s;
  animation-delay: 5.5s;
}
.animated.p8 {
  -webkit-animation-delay: 6s;
  -o-animation-delay: 6s;
  -ms-animation-delay: 6s;
  -moz-animation-delay: 6s;
  animation-delay: 6s;
}

.animated.p10 {
  -webkit-animation-delay: 7s;
  -o-animation-delay: 7s;
  -ms-animation-delay: 7s;
  -moz-animation-delay: 7s;
  animation-delay: 7s;
}